{% extends 'base.html' %}

{% block content %}
<div id="readall-gtj">
    <h1 id="readhead-gtj" class="inline-htj">{{ meeting.title }}</h1>
    <h2 class="inline-htj">모임주제 : {{meeting.category}}</h2>
    <table class="table table-striped table-htj">
        <tbody>
            <tr>
                <th scop="row">작 성 자 : </th>
                <td>{{ meeting.writer }}</td>
                 <th scop="row">게 시 일 : </th>
                <td>{{ meeting.created_at }}</td>
            </tr>
            
            <tr>
                <th scop="row">최소인원</th>
                <td>{{ meeting.min_number }}</td>  
                <th scop="row">최대인원</th>
                <td>{{ meeting.max_number }}</td> 
            </tr>
            
            <tr>
                <th scop="row">진행시간</th>
                <td>{{ meeting.meeting_time }}</td>
                <th scop="row">진행장소</th>
                <td>{{ meeting.meeting_place }}</td>    
            </tr>
            
            <tr>
                <th scop="row">신청인원</th>
                <td>{{ meeting.current_number }}</td>
            </tr>
            
            <tr>
                <th scop="row">모임설명</th>
                <td>{{ meeting.description }}</td>    
            </tr>
            
            <tr>
                <th scop="row">이메일</th>
                <td>{{ meeting.writer_email }}</td>
            </tr>
        </tbody>
</table>
    <div id="readbutton-gtj">
        <a href="#"><p id="readbutton-gtj1">신청자 명단 확인</p></a>
        <br>
        <a href="#"><p id="readbutton-gtj2">모임 참여 신청하기</p></a>
        <a href="#"><p id="readbutton-gtj3">수정</p></a>
        <a href="#"><p id="readbutton-gtj4">삭제</p></a>
    </div>
</div>


{% endblock %}
