#blank-gtj{

    margin-bottom:200px;
}
#logosize{
    width:300px;
    text-align:left;
    float:left;
}
#head1-gtj,#head2-gtj,#head3-gtj{
    display:inline-block;
    margin-right:30px;
    text-align:right;
    
    text-decoration: none;
    font-family: 'Jua', sans-serif;
    color:gray;
    
    
    
    border-left-width: 5px;
   border-left-color: gray;
   border-left-style: solid;
   padding-left: 11px;
   font-size:30px;
    
    
}
.header-wrapper-gtj{
    padding-top:15px;
    text-align:right;
    display:block;
    padding-bottom:15px;
    background-color:black;
    
}

#head1-gtj:hover{
    color:white;
    border-color:white;
}
#head2-gtj:hover{
    color:white;
    border-color:white;
    
}
#head3-gtj:hover{
    
    color:white;
    border-color:white;
}
#service-name-gtj1{
    
    font-family:inherit;
    font-weight: bold;
    font-size:50px;
    text-align:center;
    color:white;
    padding-top:200px;
    
}
#service-name-gtj2{
    
    text-align:center;
    margin: auto 0;
    margin-bottom:50px;
    font-family: inherit;
    font-weight:normal;
    font-size:50px;
    color:white;
    
}
#hr-gtj{
    color: white;    
    border-color: white;  
    background-color: white; 
    height: 1px;
}
#text-gtj{
    
    font-family: 'Jua', sans-serif;
    color:white;
    font-size:30px;
    text-align:center;
}
#text-group-gtj{
    
    text-align:center;
    margin-bottom:10px;
}
#bottombar-gtj{
    margin: 0 auto;
    width:400px;
    margin-bottom:300px;
}

body{
    
}

.main-container{
    background-image:url("/static/images/background.jpeg");
    background-size :cover;
    width:100%;
    height:100%;
    
}

#bottombar-gtj2{
    float: center;
    text-align:center;
    margin: 0 auto;
}

.inline-htj{
    display: inline-block;
}

.content-name-htj{
    text-align:left;
    margin: auto 10px;
    font-family: 'Jua', sans-serif;
    font-size:50px;
}

.sub-content-name-htj{
    text-align:left;
    margin: auto 0;
    font-family: 'Jua', sans-serif;
}

.table-htj tr{
    font-size:16px;
}

#readall-gtj{

margin-right:8%;
margin-left:8%;

}

#readhead-gtj{
    color:red;
    text-decoration: underline;
    font-size:40px;
    padding:0.5em;
}
#readtext-gtj{
    font-size:20px;
    display:inline-block;
    margin-right:500px;
    margin-block-start:30px;
    margin-block-end:30px;
}
#readtext-gtj2{

    font-size:20px;
    display:inline-block;
    margin-right:500px;
    margin-block-start:30px;
    margin-block-end:30px;
}
#readtext-gtj3{
    font-size:20px;
    display:inline-block;
    margin-right:500px;
    margin-block-start:30px;
    margin-block-end:30px;
}
#readbutton-gtj1{
    margin-left:70%;
    display:inline-block;
}
#readbutton-gtj2,#readbutton-gtj3,#readbutton-gtj4{
    display:inline-block;
}
#readbutton-gtj1{
    margin-left:70%;
    padding-right:30px;
    padding-top:3px;
    padding-left:30px;
    padding-bottom:3px;
    border-color:black;
    border-style: solid;
    border-width:3px;
    text-decoration:none;
    color:white;
    background-color:orange;
}
#readbutton-gtj2{
    margin-right:55%;
    padding-right:30px;
    padding-top:3px;
    padding-left:30px;
    padding-bottom:3px;
    border-color:black;
    border-style: solid;
    border-width:3px;
    text-decoration:none;
    color:white;
    background-color:orange;
}
#readbutton-gtj3{
    padding-right:30px;
    padding-top:3px;
    padding-left:30px;
    padding-bottom:3px;
    border-color:black;
    border-style: solid;
    border-width:3px;
    text-decoration:none;
    color:white;
    background-color:orange;
}
#readbutton-gtj4{
    padding-right:30px;
    padding-top:3px;
    padding-left:30px;
    padding-bottom:3px;
    border-color:black;
    border-style: solid;
    border-width:3px;
    text-decoration:none;
    color:white;
    background-color:orange;
}
#mylist-gtj{

    padding-left:400px;
}
#mylistbutton-gtj
{
    float:right;
}





